*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
}

body{
    background-color: aliceblue;
}

nav{
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    text-align: center;
    background-color: #1b1c20;
    font-size: 20px;
}

nav ul li{
    display: inline-block;
}

nav li a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 30px;
    transition: .3s ease;
}

nav li a:hover{
    opacity: .8;
    background-color: #45464d;
    letter-spacing: 5px;
}

.hero-image{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position-y: 70%;
    background-image: url(../img/taczka\ hero\ img.webp);
}   

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgba(29, 23, 23, 0.473);
}

.text h1{
    color: aliceblue;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

.btn1{
    padding: 16px 26px;
    color: black;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.btn1:hover{
    background: none;
    color: white;
}

.void{
    height: 63px;
}

.top{
    background-color: #25252f;
    color: aliceblue;
    padding: 10px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    transition: .3s ease;
}

.top:hover{
    background-color: rgb(201, 215, 228);
    color: #25252f;
}

.active{
    background-color: rgb(201, 215, 228);
    color: #25252f;
}

.panel{
    background-color: #fff;
    padding: 30px 50px;
    margin: 0;
    display: none;
}

.img-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-text img{
    width: 300px;
    height: 200px;
    margin: 0 30px;
}

.img-text a{
    text-decoration: none;
    color: #48537f;
    transition: .3s ease;
}

.img-text a:hover{
    color: #252d4a;
    margin: 0 20px;
}

.all{
    display: flex;
}

.big-box1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.big-box1 > h1{
    font-size: 35px;
    padding: 10px;
    color: #252d4a;
}

.zdj_g{
    border: 2px solid rgb(89, 89, 167);
    height: 400px;
    width: 600px;
    padding: 5px;
    margin: 10px 0;
}

.galery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.galery h2{
    margin: 10px;
    cursor: pointer;
}

.galery img{
    border: 2px solid rgb(89, 89, 167);
    height: 100px;
    width: 150px;
    padding: 4px;
    margin: 6px;
}

.galery img:hover{
    border: 2px solid white;
}

.small-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.small-box .parametr{
    width: 200px;
    margin: 10px;
}

.big-box2{
    width: 40%;
}

form{
    border: 2px solid rgb(89, 89, 167);
    margin: 30px;
    padding: 20px;
    width: 60%;
}

form h1{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(10, 148, 40);
}

form h2{
    font-size: 20px;
    margin: 15px 15px 5px;
}

form input, .car-select{
    margin: 5px 15px;
    padding: 3px;
}

form .car-price{
    color: rgb(10, 148, 40);
}

form .data{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form .btn{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 30px;
}

form .btn input{
    cursor: pointer;
    padding: 5px 15px;
}

form input[type="submit"]{
    color: green;
}

form input[type="reset"]{
    color: red;
}

.error{
    margin: 5px 15px;
    color: red;
}